<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        name:
        <input type="text" name="name" placeholder="enter name">
        test innings:
        <input type="number" name="innings" placeholder="enter innings">
        runs:
        <input type="number" name="runs" placeholder="enter runs">
        <input type="submit" value="edit">
    </form>
</body>
</html>